
<div class="home">
  <div id="left" class="column">
    <div class="scroll-content left-filter">
        <form [formGroup]="categoryForm">
          <h3>Filter</h3>
          <label for="">Selec Category</label>
          <select formControlName="category" (change)="categorySelect($event.target.value)">
              <option [ngValue]="undefined" selected >Select Category</option>
              <option  *ngFor="let cat of categorylist">{{cat}}</option>
          </select>
          <br>
          <input type="reset" value="Reset" (click)="categoryReset()">
        </form>
      </div>
    </div>
  
    
  <div id="right" class="column ">
    <div class="scroll-content main-content">
         <div *ngFor="let prod of productcopy">

            <div class="card">
              <h5>{{prod.title}}</h5>
              <p>{{prod.description}}</p>
              <p>Category:{{prod.Category}}  Price:{{prod.price}} </p>
              <p>Quantity: {{prod.availableQuantity}} DayToShip: {{prod.DayToShip}} Warrenty: {{prod.warranty}}  </p>
            </div>

         </div> 
     </div>
  </div>

</div>  